*{

    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f7f7f7;
}
.wrapper{
    background: #fff;


    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    overflow: clip;
}
.wrapper header{
    height: 30px;
    margin-bottom: 60px;
    display: flex;
}
header .metrics{
    padding-top: 20px;
}
header .metrics button{
    border: none;
    background: none;
    color: #67676a;
    font-size: 50px;
}
header .metrics a{
    color: inherit;
    text-decoration: none;
}
header .metrics a:hover{
    color: grey;
}
header .chat{
    padding-top: 10px;
}
header .chat button{
    border: none;
    background: none;
    color: #67676a;
    font-size: 50px;
}
header .chat a{
    color: inherit;
    text-decoration: none;
}
header .chat a:hover{
    color: grey;
}
header .profilepicture{
    margin-left: auto;
}
header .profilepicture button{
    border: none;
    background: none;
    color: #67676a;
    font-size: 50px;
}
header .profilepicture button:hover{

}
header .profilepicture img{
    width: 80px;
    border-radius: 50%;
    align-items: center;
}
.columns{
    position: relative;
    display: flex;
}
.col1{
    position: relative;
    height: 80vh;
    flex-basis: 100%;
    border-radius: 10px;
}
.picture{
    margin-top: 50px;
    margin-left: 160px;
    width: 60%;
}
.picture img{
    width: 140px;
    border-radius: 50%;
    border: 1px solid black;
}
.attributes{
    margin-left: 95px;
    margin-right: 90px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.attributes img{
    border-radius: 50%;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}
.details{
    margin-top: 20px;
    padding-left: 150px;
    width: 65%;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
}
.details p{
    margin: 0;
    padding: 0;
}
.about{
    border-radius: 5px ;
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40%;
    width: 60%;
    overflow-y: auto;
    border: 1px solid black;
}
.about::-webkit-scrollbar{
    width: 0px;
}
.col2{
    position: relative;
    height: 80vh;
    flex-basis: 100%;
}
.bioheader{
    text-align: center;
    font-size: 30px;
    color: grey;
}
.bio{
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 90%;
    overflow-y: auto;
    border: 1px solid black;
}
.about::-webkit-scrollbar{
    width: 0px;
}
.col3{
    position: relative;
    height: 80vh;
    flex-basis: 100%;
    border-radius: 10px;
}
.gallery{
    flex-basis: 100%;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 250px;
}
.gallery img{
    object-fit: cover;
    width: 220px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}
