*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url("../css/images/date.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: #C3C8D3;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #C3C8D3;
    font-weight: 500;
}
nav:hover{
    background: rgb(34, 30, 63, 0.70);
}
nav:hover .logo{
    color: #C3C8D3;
}
nav:hover ul li a{
    color: #C3C8D3;
}
.content{
    margin-left: 9%;
    color: white;
}
.content h1 {
    font-size: 120px;
    line-height: 100px;
    font-weight: 600;
}
.content h2 {
    font-size: 50px;
    line-height: 140px;
    font-weight: 600;
}
.content p {
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}

.successstories{
    padding-top: 120px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.about{
    margin-top: 27%;
    margin-left: 9%;
    margin-right: 9%;
    color: white;
    padding-bottom: 330px;
}
.about h1{
    font-size: 80px;
    line-height: 140px;
    font-weight: 600;
}
.about p{
    font-size: 25px;
    line-height: 30px
}
.links {
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.btn{
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}

.btn:hover{
    background-color: white;
    color: #67676a;
}

.slide-left{
    animation: slideleft 1.25s linear forwards;

}
@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

.links.slide-left{
    animation-delay: 1.4s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: #C3C8D3;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.content{
    margin-top: 9%;
    margin-left: 9%;
    color: white;
}
.content h1 {
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}
.content p {
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}
.links {
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

.footer{
    height: 110px;
    width: 100%;
    background-color: rgb(34, 30, 63, 0.70);
    color: #67676a;
}
.footer p{
    text-align: center;
}
.footer img{
    height: 80px;
    margin-left: 9px;
    margin-right: 9px;
}
